<div class="banner">
  <%= image_tag "logo-1.png", :class => "logo"%>
  <div class="container-g">
    <h1>
      Trop occupés pour sortir?
    </h1>
    <p class="catch-phrase">
      La solution pour les couples débordés
    </p>
      <%= link_to "Allons-y !", new_experience_path, class: "btn btn-g", style: 'width: 20%' %>
  </div>
</div>
<div class="choose">
   <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-1 d-inline-flex align-items-center" id="butler-container-home">
      <div class="ginger-img">
        <%= image_tag "ginger-butler.png", id: 'butler-image-home'%>
      </div>
      <div class="px-2">
        <div class="justify-content-center">
          <div class="exp-text-home typewriter-home">
            <p>Bienvenue, je suis Ginger, votre majordome. </p>
            <p>Vous verrez, c'est facile !</p>
<!--             <p> </p>
            <p></p> -->
          </div>
        </div>
      </div>
  </div>
  <div class="cards">
    <div class="card">
      <%= image_tag "cash.png", :class => "cash"%>
      <h3 class="mt-5">
        1. Je choisis mon budget
      </h3>
      <p>
        Ainsi tout est payé à l'avance: plus de surprise, ni rien à sortir le jour J!
      </p>
    </div>
    <div class="card">
      <%= image_tag "calendar.png", :class => "calendar"%>
      <h3 class = "mt-5">
        2. Je choisis une date à ma convenance
      </h3>
      <p>
        Je ne m'occupe plus de qui / quoi / comment... C'est fait!
      </p>
    </div>
    <div class="card">
      <%= image_tag "champaign.png", :class => "champaign"%>
      <h3 class="mt-3">
        3. Votre sortie surprise est prête
      </h3>
      <p>
        Notre majordome virtuel s'occupe de vous. Gardez votre téléphone en main il vous guidera à votre sortie surprise!
      </p>
    </div>
  </div>
</div>
