<div class="banner">
  <%= image_tag "logo-1.png", :class => "logo"%>
  <div class="container-g">
    <h1>
      Trop occupés pour sortir?
    </h1>
    <p class="catch-phrase">
      La solution pour les couples débordés
    </p>
<<<<<<< HEAD
      <%= link_to "Allons-y !", new_experience_path, class: "btn btn-g", style: 'width: 130px !important' %>
=======
      <%= link_to "Allons-y !", new_experience_path, class: "btn btn-g", style: 'width: 140px' %>
>>>>>>> a8e212bf4ccaded67fb1a77eff703a8c6f48ec87
  </div>
</div>
<div class="choose">
   <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-1 d-inline-flex align-items-center" id="butler-container-home">
      <div class="ginger-img">
        <%= image_tag "ginger-butler.png", id: 'butler-image-home'%>
      </div>
      <div class="px-2">
        <div class="justify-content-center">
          <div class="exp-text-home typewriter-home">
            <p>Bienvenue, je suis Ginger, votre majordome. </p>
            <p>Voilà comment le service fonctionne:</p>
<!--             <p> </p>
            <p></p> -->
          </div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="box">
      <h2 class="">1</h2>
      <div class="pic">
        <%= image_tag "cash.png", :class => "cash"%>
      </div>
      <h3 class="mt-5">
        Je choisis mon budget
      </h3>
      <p>
        Ainsi tout est payé à l'avance: plus de surprise, ni rien à sortir le jour J!
      </p>
    </div>
    <div class="box">
      <h2 class="">2</h2>
      <div class="pic">
        <%= image_tag "calendar.png", :class => "calendar"%>
      </div>
      <h3 class = "mt-5">
        Je choisis une date à ma convenance
      </h3>
      <p>
        Je ne m'occupe plus de qui / quoi / comment... C'est fait!
      </p>
    </div>
    <div class="box">
      <h2 class="">3</h2>
      <div class="pic">
        <%= image_tag "champaign.png", :class => "champaign"%>
      </div>
      <h3 class="mt-3">
        Votre sortie surprise est prête
      </h3>
      <p>
        Notre majordome virtuel s'occupe de vous. Gardez votre téléphone en main il vous guidera à votre sortie surprise!
      </p>
    </div>
  </div>
  <div class="ui-grid-container">
    <h3 class="ui-text__h3 ui-mb--2">Besoin d'être rassuré?</h3>
    <p class="ui-p--1 ui-text--center">Il n'y a rien à craindre: lisez ci-dessous!</p>

    <div class="ui-qanda">
      <strong class="ui-text--lg ui-text--md-mobile">Ca me semble cher... Pour ne pas savoir ce que j'aurai en retour!</strong>
      <p class="ui-text--lg ui-text--md-mobile" style="color:white">
        Nous vous avons sélectionné des expériences hors du commun. Nous vous promettons un moment privilégié avec votre partenaire pour un moment précieux. Promis, pas de chute libre au programme, ni de karaoké devant toute une assemblée. Ca sera un moment rien que pour vous deux pour vous retrouver autour d'une expérience inhabituelle et donc riche en souvenirs!
      </p>
    </div>

    <div class="ui-qanda">
      <strong class="ui-text--lg ui-text--md-mobile">Est-ce que je reçois une confirmation de mon expérience bientôt? Je viens de payer...</strong>
      <p class="ui-text--lg ui-text--md-mobile" style="color:white">
        Bien sûr. Vous ne l'avez toujours pas reçue? C'est que notre "experience manager" s'occupe de vous. Ginger notre majordomme prendra ensuite contact avec vous directement sur votre natel. Vous êtes la veille de l'expérience et toujours pas de confirmation? Appelez Ginger au 079 536 06 18 et dites "Ginger j'ai un problème". Il s'occupera de tout. Sacré Ginger.
      </p>
    </div>

    <div class="ui-qanda">
      <strong class="ui-text--lg ui-text--md-mobile">Je suis en fauteuil roulant ou j'ai une condition physique particulière</strong>
      <p class="ui-text--lg ui-text--md-mobile" style="color:white">
        Dans ce cas, merci de contacter Ginger directement au 079 536 06 18 pour qu'il en tienne compte et que vous viviez votre expérience comme il se doit. Trop fort ce Ginger.
      </p>
    </div>

    <div class="ui-qanda">
      <strong class="ui-text--lg ui-text--md-mobile">J'habite Genève</strong>
      <p class="ui-text--lg ui-text--md-mobile" style="color:white">
        Ginger ne peut organiser une expérience que sur Lausanne pour le moment... Jaloux? Faites le savoir: 079 536 06 18.
      </p>
    </div>

    <div class="ui-qanda">
      <strong class="ui-text--lg ui-text--md-mobile">On est deux copines, ça joue toujours?</strong>
      <p class="ui-text--lg ui-text--md-mobile" style="color:white">
        Ben... Evidemment !
      </p>
    </div>

  </div>
</div>
