<div class="prepare-page container mb-5">
  <h2>Créer l'Experience</h2>

  <div class="experience-data d-flex justify-content-between mt-4 mb-3">
    <p><i class="fas fa-user mr-3"></i><%= "#{@experience.user.primary_first_name.capitalize} #{@experience.user.primary_last_name.capitalize}" %></p>
    <p><i class="fas fa-map-marker-alt mr-3"></i><%= @experience.city %></p>
    <p><i class="fas fa-calendar-day mr-3"></i><%= @experience.date.strftime("%d/%m/%Y") %></p>
    <p><i class="fas fa-clock mr-3"></i><%= @experience.time_slot.capitalize %></p>
    <p><i class="fas fa-money-bill-wave-alt mr-3"></i><%= "#{humanized_money @experience.budget_cents} CHF" %></p>
  </div>

  <div class="row">
    <div class="col-lg-6 activity-select-form">
      <div class="experience-slice-title">
        <h3>Selectionnez les composantes de l'experience</h3>
      </div>
      <%= render 'shared/exp_design_form_2' %>
      <div class="mt-5">
        <div class="row">
          <p class="col-lg-6">Prix total:</p>
          <p class="col-lg-6"><span id="prix">0</span> CHF</p>
        </div>
        <div class="row">
          <p class="col-lg-6">Durée totale:</p>
          <p class="col-lg-6"><span id="duration">0</span></p>
        </div>
      </div>
    </div>
    <div class="selections col-lg-6">
      <div class="tab">
        <% @categories.each do |category| %>
          <button class="category tablinks<%= ' active' if category == Category.first %><%= ' excluded' if !@experience.experience_preferences_categories.where(category: category).empty? %>" id="<%= category.name %>"><%= category.name %></button>
        <% end %>
      </div>
      <div class="tab mb-1">
        <% @cities.each do |city| %>
          <button class="city tablinks <%= 'active' if city == @experience.city %>" id="<%= city %>"><%= city %></button>
        <% end %>
      </div>
      <div class="sortable-activities" dropzone="move" id="content-list" style="color:black">
        <% @activities.each do |activity| %>
          <div class="draggable tabcontent content-wrapper <%= activity.category.name %> <%= activity.city %><%= ' default' if activity.category == Category.first && activity.city == @experience.city %>" draggable="true" name='<%= "activity-#{activity.id}" %>' value=<%= activity.id %>>
            <div class="activity-info">
              <div class="activity-name">
                <strong><%= activity.name %></strong>
              </div>
              <div class="activity-city">
                <%= activity.city %>
              </div>
            </div>
            <div class="activity-numbers">
              <div class="activity-price">
                <%= "#{activity.price_cents / 100} CHF" %>
              </div>
              <div class="activity-duration">
                <%= "#{activity.duration} mins" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



