<!DOCTYPE html>
<html>
  <head>
    <title>Ginger | La solution des couples débordés pour sortir</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="description" content="Retrouvez-vous avec votre partenaire en partageant une expérience surprise. Notre majordome Ginger s'occupe de vous">

    <!-- <meta charset="UTF-8"> -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="logo_g.png" type="image/png">
    <link rel="apple-touch-icon" href="logo_g.png">
    <link rel="shortcut icon" href="favicon.ico">

    <meta property="og:site_name" content="Sortir en couple avec Ginger | La solution clé en main pour sortir et se retrouver">
    <meta property="og:title" content="Ginger | La solution des couples débordés pour sortir">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.ginger-out.ch/">
    <meta property="og:image" content="https://res.cloudinary.com/dzi6iy0ol/image/upload/v1580380364/carte_visite_k1xtbg.png">
    <meta property="og:description" content="Ginger vous permet de vous retrouver, vous et votre partenaire pour vivre une expérience ensemble inoubliable loin de tout soucis d'organisation. Vous êtes débordés et pris par la vie? Laissez vous faire, notre majordome Ginger s'occupe de tout!">


    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="main-wrapper">
      <!-- set the content in a flexbox and allow to push the footer to the bottom -->
      <%= yield %>
    </div>
    <%#= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
